html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    background-color: grey;
    font-family: 'fira code';
}


.banner{
    display: flex;
    width: 100%;    
    height: 100%;  
    background-size: 100%;
    background-image: url(../../img/1440px.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid red;
}
.banner-btn{
    width: 100%;
    text-align: center;
    max-width: 980px;
   
    
}
.banner-btn a{
    display: inline-block;
    color: black;
    width: 170px;
    line-height: 50px;
    height: 50px;
    border-radius: 6px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.5rem;
    background-color: white;
    margin: 10px;
    text-align: center;
    -webkit-transform: 0.01s ease;
    transition: transform 0.600s ease;
   
}
.banner-btn a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    background-color: yellow;

}


/*Media queries*/


@media (max-width:817px){
    .main-item{
        width: 40%;
    }
}
@media (max-width:717px){
    .menu{
        display: none;
    }
}
@media (max-width:500px){
    .main-item{
        width: 50%;
    }
}

     
       
       
        
        
    

